site_name: Chivalry 2 Unchained
repo_url: https://github.com/Chiv2-Community/unchained-wiki
edit_uri: blob/main/docs/

nav:
  - Home: index.md
  - Server Hosting:
    - Setup Guide: server-hosting/setup-guide.md
    - Configuration: server-hosting/configuration.md
    - Moderation: server-hosting/moderation.md
  - Unchained Launcher:
    - Installation: unchained-launcher/installation.md
    - Mod Setup: unchained-launcher/mod-setup.md
  - Mod Development:
    - Field Guide: 
      - Overview: ArgonSDK Tutorials/index.md
      - Introduction: ArgonSDK Tutorials/introduction.md
  - Mod Publishing:
    - Publishing Mods: mods/publishing-mods.md
    - Publishing Mods - New Git Users Guide: mods/publishing-mods/newbies-guide.md
    - Publishing Mods - Experienced Git Users Guide: mods/publishing-mods/experienced-guide.md
    - mod.json Generator: mods/mod-json-generator.md


theme:
  name: 'material'
  font:
    text: Volkov
  palette:

  # Light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: blue grey
    accent: indigo
    toggle:
      icon: material/brightness-7
      name: Switch to dark mode

  # Dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: amber
    accent: blue
    toggle:
      icon: material/brightness-4
      name: Switch to light mode

# Extensions
markdown_extensions:
  - nl2br
  - footnotes
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  # - pymdownx.superfences
  - admonition
  - pymdownx.details
  # - pymdownx.magiclink
  - pymdownx.tasklist:
      custom_checkbox: true
  - def_list
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.superfences:
    # make exceptions to highlighting of code:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid    
  - toc:
      permalink: true

plugins:
  - mermaid2:
      javascript: https://unpkg.com/mermaid/dist/mermaid.min.js
  - search
  - roamlinks 
  - embed_file 
  - callouts

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
