name: publish-site
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with: 
          submodules: recursive
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: |
          mkdir -p 'docs/mod-development/field-guide'
          cp -r submodules/ArgonSDK-FieldGuide/docs/* 'docs/mod-development/field-guide/'
      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install mkdocs-material
      - run: pip install mkdocs-roamlinks-plugin
      - run: pip install mkdocs-mermaid2-plugin
      - run: pip install mkdocs-embed-file-plugins
      - run: mkdocs gh-deploy --force
